.div2.alert.alert-info
  Remarks:
  - @game.players.each do |player|
    - if player.remark.present? && player.remark != 0

      .remark_separator
        .player{data:{remarks: player.remark}}
          = player.user.name
        .remark
          = player.remark
  .set_remarks
    %strong
      = link_to 'Make A Remark', '', class: 'btn remark_link'
