- can_be_player = User.where("id not in(?) ", @used_ids)

- if @game.players.size < 10
  .dragable
    .items
      - can_be_player.each do |player|
        - unless player.id == nil
          .btn.btn-inverse.item{:data => {:id => "#{player.id}"}}
            = player.name

.dropzone-container
  = render partial: 'games/drop_zone'
