.div1.dropzone.add.well
  .progress
  %strong
    - @game.players.each do |player|
      - unless player.id.nil?
        %div{class: "#{player.user.name} btn-group item2 alive"}
          %a{class: "btn btn-primary btn_first"}
            %i.icon-user.icon-white
            #{player.user.name}
            № #{player.player_number}

          = link_to '#', {class: "btn btn-primary dropdown-toggle"} do
            %span.caret
          %ul.dropdown-menu
            %li
              =link_to game_player_path(@game, player), method: :delete do
                Delete
                %i.icon-trash
