.game_status
      = f.radio_button :game_status, 'open', {id: "game_open_game"}
      = f.label "open_game", 'open'
      = f.radio_button :game_status, 'closed', {id: "game_closed_game"}
      = f.label "closed_game", 'closed'