.countdown.remark
  60
.start.btn
  Start


-#:javascript
-#  $('.start').click(function(){
-#    //$(this).addClass('hidden')
-#    return setInterval(doUpdate, 1000);
-#
-#  });
-#
-#  $('.stop').click(function(){
-#
-#  })
-#
-#
-#    var doUpdate = function() {
-#      $('.countdown').each(function() {
-#        var count = parseInt($(this).html());
-#        if (count !== 0) {
-#          $(this).html(count - 1);
-#        } else {
-#          $(this).html(60)
-#
-#        }
-#      });
-#    };
-#
-#    // Schedule the update to happen once every second
